.profile-pic {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    margin-left: 1em;
    margin-top: 7px;
}

#profile-name, .profile-name {
    font-size: larger;
    color: #198754 !important;
}

#navbarScrollingDropdown {
    color:  #198754 !important;
    font-weight: 600;
}

.navbar-button {
    margin-top: 7px !important;
}

.dropdown-item:active, .dropdown-item:focus {
    background-color: #198754;
}

.navbar-element {
    font-size: large;
}

.navbar-title {
    font-weight: bolder;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.current,
.navbar-title {
    color: #198754 !important;
}

.dropdown-toggle::after {
    display: none !important;
}