.search-headers {
    margin-top: 1em;
    text-align: center;
    font-size: larger;
    color: #198754;
}

.right-column {
    padding-right:20px; 
    border-right: 1px solid #ccc;
}

.searchresult-user-avatar-col {
    max-width: 15%;
    min-width: 90px;
}

.user-searchresult {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.4em;
    max-height: 15%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.user-searchresult:hover {
    background-color: #212529;
    color: white;
    transition: background-color 0.4s, color 0.3s;
}

.user-stats {
    padding: 0 !important;
    width: 50%;
    vertical-align: bottom;
}

.user-stats-single-element {
    min-width: 70px
}

.user-searchresult-date {
    vertical-align: bottom;
    font-size: large;
}

.color-info-container {
    display: inline-block;
    font-weight:600;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border-radius: 0;
    width: 5em;
    margin-top: 1em;
}

.search-page-number {
    margin-top: 0px !important;
    margin-left: 1em;
    margin-right: 1em;
    width: 4em;
}

.like-block {
    background-color: #289e44;
    margin-top: 0;
    min-width: 5em;
    max-height: 2.5em;
}

.post-amount-block { 
    background-color: #0dcaf0;
    margin-top: 0;
    min-width: 5em;
    max-height: 2.5em;
}

.comment-amount-block {
    background-color: #2457e2;
    margin-top: 0;
    min-width: 5em;
    max-height: 2.5em;
}

.poster {
    color: #0dcaf0;
    border-color: #0dcaf0;
}

.moderator {
    color: #dc3545;
    border-color: #dc3545;
}

.user {
    color: #198754;
    border-color: #198754;
}

.multidot {
    margin-top: none !important;
    margin-left: 1em;
}

.pagination-button {
    margin-left: 1em !important;
}

.search-pagination-wrapper {
    text-align: center;
    margin-bottom: 3em;
}

.current-page-button {
    background-color: #198754;
    color: white;
}

.search-result-username {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 800px) {
    .poster, .moderator, .user {
        margin-right: auto;
        margin-left: 2px;
        margin-bottom: 1em;
        margin-top: 0;
    }

    .user-stats {
        margin-left: 0.35em;
    }
  }